.advantages {
  padding: 80px 40px 80px;
  background-color: #f6f6f6;
  &__wrapper {
    margin-top: 65px;
    display: flex;
    justify-content: space-between;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 238px;
  }
  &__subtitle {
    margin-top: 38px;
    color: #0d0d0d;
    font-size: 18px;
    font-weight: 700;
  }
  &__descr {
    margin-top: 26px;
    color: #0d0d0d;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    a {
      color: #ff0000;
      text-decoration: underline;
      transition: filter 0.2s ease;
      &:hover {
        filter: $brightness;
      }
    }
  }
  &__icon {
    &_animated {
      animation: heartbeat 2s ease infinite;
      &:hover {
        animation-play-state: paused;
      }
    }
  }
}

@media (max-width: 768px) {
  .advantages {
    &__wrapper {
      flex-wrap: wrap;
    }
  }
}

@media (max-width: 575px) {
  .advantages {
    &__wrapper {
      flex-direction: column;
      align-items: center;
      margin-top: 0;
    }
    &__item {
      margin-top: 60px;
    }
  }
}
