.footer {
  height: 630px;
  position: relative;
  line-height: 0;
  &__info {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 460px;
    height: 270px;
    background: $main-color;
    padding: 50px 68px 60px;
  }
  &__addr {
    margin-bottom: 36px;
    color: #fff;
    font-style: 20px;
    line-height: 20px;
    font-weight: 500;
    text-align: center;
  }
  &__phone {
    display: block;
    color: #ffffff;
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    margin-bottom: 38px;
    text-align: center;
    transition: filter 0.2s ease;
    &:hover {
      color: #fff;
      text-decoration: none;
      filter: $brightness;
    }
  }
  &__social-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 53px;
    height: 52px;
    border: 2px solid #ffffff;
    border-radius: 100%;
    margin: 0 15px;
    img {
      height: 27px;
    }
    transition: filter 0.2s ease;
    &:hover {
      filter: $brightness;
    }
  }
  &__social {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

iframe {
  max-height: 100%;
  width: 100%;
  height: 630px;
  border: 0;
}

@media (max-width: 445px) {
  .footer {
    &__info {
      padding: 50px 16px 60px;
    }
  }
}
