.promo {
  min-height: 650px;
  padding: 21px 0 93px 0;
  background: url(../../img/main.jpg) center (center/cover) no-repeat;
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 90px;
  }
  &__header {
    color: #fff;
    font-size: 42px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 42px;
  }
  &__subheader {
    margin-top: 17px;
    color: #fff;
    font-size: 24px;
    line-height: 24px;
    font-weight: 500;
    text-transform: uppercase;
  }
  &__icons {
    margin-top: 65px;
    width: 425px;
    display: flex;
    justify-content: space-between;
  }
  &__icon {
    width: 108px;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    img {
      display: block;
      margin: 0 auto;
      margin-bottom: 20px;
    }
  }
  &__link {
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    margin-top: 18px;
    a {
      color: #ffffff;
      text-transform: uppercase;
      text-decoration: underline;
      transition: opacity 0.2s ease;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}

@media (max-width: 768px) {
  .promo {
    &__wrapper {
      align-items: center;
      margin-top: 35px;
    }
    &__header {
      text-align: center;
      font-size: 35px;
    }
    &__subheader {
      text-align: center;
      font-size: 20px;
    }
  }
}

@media (max-width: 445px) {
  .promo {
    &__icons {
      flex-direction: column;
      align-items: center;
      margin-top: 0;
      width: 100%;
    }
    &__icon {
      margin-top: 25px;
      width: 80%;
    }
  }
}
